<footer>
    <div class="footer">
   <section class="footer-section">
    <div class="icon-data">
        <h4>Chapter One</h4>
        <p>Find What You Love,<br/>Effortlessly.</p>
        <div class="icons">
            <a href="https://github.com/HitendraSinghRathore/chapter-one" target="_blank" class="user-link">
                <img src="icons8-github.svg" alt="github-icon" height="28">
            </a>
            <a href="https://linkedin.com/in/hitendra-rathore/" target="_blank" class="user-link">
                <img src="icons8-linkedin.svg" alt="linkedin-icon" height="28">
            </a>
           <a mailto="hitendrarathore0@gmail.com" class="user-link">
                <img src="icons8-gmail.svg" alt="email-icon" height="28">
           </a>
        </div>
    </div>
    <div class="footer-text">
        <ul>
            <li>
                <a role="button" tabindex="0">Shop</a>
            </li>
            <li>
                <a role="button" tabindex="0">Cart</a>
            </li>
            <li>
                <a role="button" tabindex="0">Login</a>
            </li>
            <li>
                <a role="button" tabindex="0">Signup</a>
            </li>
           
        </ul>
    </div>

   </section>
   <p class="footer-end">
    Made with ❤️ by <a href="https://www.linkedin.com/in/hitendra-singh-rathore-b6a1b61a0/" target="_blank" class="user-link">Hitendra Singh Rathore</a> &copy; {{ year}}
   </p>
   </div>
</footer>