.DS_Store
Thumbs.db
node_modules

backend/node_modules
backend/dist
backend/.env
backend/.vscode/

frontend/chapter-one/node_modules
frontend/chapter-one/dist
frontend/chapter-one/.angular/
frontend/chapter-one/.vscode/