<mat-drawer-container class="listing-container">
    <mat-drawer [mode]="drawerMode" [opened]="isSidenavOpened" class="menu-drawer" #filterDrawer >
        <aside>
        <h3>Filters</h3>
        <div class="filter-container">
            <div class="label">
                <label class="price-label"> Price </label>
            </div>
            <div class="filter-section">
            <mat-slider [min]="priceRange.min" [max]="priceRange.max" #priceSlider discrete [displayWith]="formatLabel">
                <input matSliderStartThumb  #leftSlider [(ngModel)]="minPrice" (change)="updateSliders()">
                <input matSliderEndThumb  #rightSlider [(ngModel)]="maxPrice" (change)="updateSliders()"> 
                
            </mat-slider>
        </div>
        <div class="label">
            <label>Author</label>
        </div>
        <div class="filter-section">
            <ng-container *ngFor="let author of authors$ | async as authors">
                <mat-checkbox [(ngModel)]="selectedAuthorMap[author.id]" (ngModelChange)="onAuthorChange()">{{author.name}}</mat-checkbox>
        </ng-container>
        </div>
        <div class="label">
            <label>Genre</label>
        </div>
        <div class="filter-section">
            <ng-container *ngFor="let genre of genres$ | async as genres">
                <mat-checkbox [(ngModel)]="selectedGenreMap[genre.id]" (ngModelChange)="onGenreChange()">{{genre.name}}</mat-checkbox>
        </ng-container>
        </div>

        </div>
        </aside>
    </mat-drawer>
    <mat-drawer-content id="main" class="book-container">
        <h1 class="page-title">Books</h1>
        <section class="listing-container--content">
            <div class="search--container">
                
                <mat-form-field appearance="outline" class="search--container--field dense">
                    <input matInput placeholder="Search" class="search--input" type="text" [(ngModel)]="query" (keyup.enter)="onSearch()"/>
                    <button mat-icon-button matPrefix class="search--container--button" (click)="onSearch()">
                        <ng-icon name="hero-magnifying-glass" size="22"></ng-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button class="search--container--button" (click)="filterDrawer.toggle()">
                    <ng-icon name="hero-funnel" size="22"></ng-icon>
                </button>
                
            </div>
            <div *ngIf="loading$ | async; else booksContent">
                <div class="book-grid" >
                    <app-shimmer width="100%" height="240px" borderRadius="4px"  *ngFor="let _ of [1,2,3,4,5,6]"></app-shimmer>
                </div>
              </div>
            <ng-template #booksContent >
                <ng-container *ngIf="publicBooks$ | async as books">
                    <div *ngIf="books.length > 0 else noBooks">
                <div class="book-grid">
                <div class="book-grid--item" *ngFor="let book of books">
                    <div class="book-grid--item--image">
                        <img [src]="'http://localhost:8080' + book.image" alt="Book image">
                    </div>
                    <div class="book-grid--item--info">
                        <div class="book-grid--item--info--title">
                            <h3>{{ book.name }}</h3>
                        </div>
                        <div class="book-grid--item--info--footer">
                        <div class="book-grid--item--info--author">
                            <p>{{ book.author.name }}</p>
                        </div>
                        <div class="book-grid--item--info--price">
                            <p>{{ book.price | currency }}</p>
                        </div>
                    </div>
                        </div>
                        </div>
                </div>
                <div class="paginator" *ngIf="pagination$ | async as pagination">
                    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]"
                                   [pageSize]="pagination.limit"
                                   [pageIndex]="pagination.page - 1"
                                   [length]="pagination.total"
                                   (page)="onPageChange($event)">
                    </mat-paginator>
                    </div>
                </div>
                <ng-template #noBooks>
                    <div class="no-data-content">
                       <img src="Emptystate-No-Search-Results-Found--Streamline-Milano.png" alt="No books found" width="100%">
                        <h1>No books found</h1>
                    </div>
                </ng-template>
                </ng-container>
            </ng-template>
            
          
        </section>
    </mat-drawer-content>
</mat-drawer-container>