@import '../../../styles/variables';

.main-container {
  padding: 1.75rem;
  header {
    margin-bottom: 1rem;
    @include respond-to(md) { 
      margin-bottom: 2rem;
    }
  }
  h1 {
    font-size: 3rem;
    color: var(--grey-900);
    margin: 0;
    line-height: 160%;
  }
}

.orders-container {
  margin-top: 3rem;
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  margin-top: 4rem;
  img {
    width: 30%;
    min-width: 250px;
  }
  .text {
    font-size: 2rem;
    color: var(--grey-900);
    line-height: 160%;
  }
}

.mat-mdc-table {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--grey-300);
}
.order-pill {
  padding: 0.25rem 1rem;
  border-radius: 999px;
  text-transform: uppercase;
  background-color: var(--grey-900);
  color: #fff;
}