.container {
  // font-family: sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.error-message {
  color: red;
  border: 1px solid red;
  padding: 10px;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
